/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, form, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7b6f1;
    color: black;
    transition: background-color 0.3s ease;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Header */
.header {
    background-color: none;
    color: none;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    margin-top: 20px;
}

.header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Navigation */
.navbar {
    margin-top: 20px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.nav-list li {
    display: inline;
    margin-right: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #5b20b9;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #007BFF;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 0;
}

.switch {
    position: absolute;
    top: 25px;
    right: 25px;
}

/* Section Titles */
.section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Project Section */
.project {
    margin-bottom: 40px;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(204, 8, 8, 0.1);
}

.project-title {
    font-size: 1.5rem;
    margin-top: 10px;
}

.project-description {
    margin-top: 10px;
}

/* Skills Section */
.skills-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.skills-list li {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Contact Form */
.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(0, 255, 149);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(128, 58, 0);
    border-radius: 5px;
}

.contact-form button {
    background-color: #1900ff;
    color: #0bb7ec;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.contact-form button:hover {
    background-color: #36adad;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #09d0f3;
    color: #ffffff;
}